<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      font-size: 21px;
      font-family: Helvetica, sans-serif;
      background-color: #353535;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(34, 31, 31);
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: rgb(73, 211, 158);
    }
    .active {
      background-color: #7642d6;
    }
    .flex-container {
        display: flex;
        margin-top: 25px;
        background-color: rgb(73, 211, 158);
        box-shadow: 0 0 30px #000000;
        padding: 20px 10px;
        flex-wrap: wrap;
        border-radius: 10px;
    }
    .flex-container > div {
        background-color: #7642d6;
        margin: 10px;
        border-radius: 5px;
        padding: 20px 10px;
        font-size: 15px;
        color: rgb(253, 253, 253);
        width: 20%;
    }
    </style>
  <head>
    <meta charset="UTF-8" />
    <title>NOTES</title>
  </head>
  <ul>
    <li><a href="/lab-4/">Index</a></li>
    <li><a href="/lab-4/add-note">Add Note</a></li>
    <li><a class="active" href="">Note List</a></li>
  </ul>
  <body>
    <div class="flex-container">
        {%for i in notes%}
        <div>
            <table>
                <tr>
                  <th>To      :</th>
                  <td>{{i.to}}</td>
                </tr>
                <tr>
                  <th>From    :</th>
                  <td>{{i.froM}}</td>
                </tr>
                <tr>
                  <th>Title   :</th>
                  <td>{{i.title}}</td>
                </tr>
                <tr>
                  <th>Message :</th>
                  <td>{{i.message}}</td>
                </tr>
              </table>
        </div>
        {%endfor%}
    </div>
  </body>
</html>
