<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      font-size: 18px;
      font-family: Helvetica, sans-serif;
      background-color: #353535;
      color: azure;
    }
    ul {
      font-size: 21px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(34, 31, 31);
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: rgb(73, 211, 158);
    }
    .active {
      background-color: #7642d6;
    }
    .table-container {
      display:flex; 
      flex-direction: column; 
      align-items:center;
      padding: 50px;
    }
    table,th,td {
      border:3px solid black;
      background-color: rgb(32, 32, 32);
      width:700px;
      padding:10px;
    }
    table {
      border-collapse: collapse;
      box-shadow: 0 0 15px #131313;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>NOTES</title>
  </head>
  <ul>
    <li><a class="active" href="">Index</a></li>
    <li><a href="/lab-4/add-note">Add Note</a></li>
    <li><a href="/lab-4/note-list">Note List</a></li>
  </ul>
  <body>
    <div class="table-container">
      <table>
        {%for i in notes%}  
        <tr>
          <td>{{i.to}}</td>
          <td>{{i.froM}}</td>
          <td>{{i.title}}</td>
          <td>{{i.message}}</td>
        </tr>
        {%endfor%}
      </table>
    </div>
  </body>
</html>
