<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      font-size: 21px;
      font-family: Helvetica, sans-serif;
      background-color: #353535;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(34, 31, 31);
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: rgb(73, 211, 158);
    }
    .active {
      background-color: #7642d6;
    }
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    input[type=submit] {
      background-color: rgb(73, 211, 158);
      color: white;
      padding: 18px 40px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      float: right;
    }
    input[type=submit]:hover {
      background-color: #5329a0;
      padding: 20px 42px;
    }
    .container {
      border-radius: 10px;
      background-color: #7642d6;
      padding: 50px;
      height: 500px;
      width: 50%;
      margin: auto;
      margin-top: 50px;
      box-shadow: 0 0 30px #271546;
    }
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 10px;
    }
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 10px;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>

  <ul>
    <li><a href="/lab-4/">Index</a></li>
    <li><a class="active" href="">Add Note</a></li>
    <li><a href="/lab-4/note-list">Note List</a></li>
  </ul>

  <body>
    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="to">To</label>
            </div>
            <div class="col-75">
              <input type="text" id="to" name="to">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="froM">From</label>
            </div>
            <div class="col-75">
              <input type="text" id="froM" name="froM">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="title">Title</label>
            </div>
            <div class="col-75">
              <input type="text" id="title" name="title">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="message">Message</label>
            </div>
            <div class="col-75">
              <textarea id="message" name="message" style="height:200px"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </div>
    </form>
  </body>
</html>