<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NOTES</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <table>
      {%for i in notes%}  
      <tr>
        <th>To      :</th>
        <td>{{i.to}}</td>
        <td>
            <input type="button" value="View" id="view"/>
            <input type="button" value="Edit" id="edit"/>
            <input type="button" value="Delete" id="delete"/>
        </td>
      </tr>
      <tr>
        <th>From    :</th>
        <td>{{i.froM}}</td>
        <td>
            <input type="button" value="View" id="view"/>
            <input type="button" value="Edit" id="edit"/>
            <input type="button" value="Delete" id="delete"/>
        </td>
      </tr>
      <tr>
        <th>Title   :</th>
        <td>{{i.title}}</td>
        <td>
            <input type="button" value="View" id="view"/>
            <input type="button" value="Edit" id="edit"/>
            <input type="button" value="Delete" id="delete"/>
        </td>
      </tr>
      <tr>
        <th>Message :</th>
        <td>{{i.message}}</td>
        <td>
            <input type="button" value="View" id="view"/>
            <input type="button" value="Edit" id="edit"/>
            <input type="button" value="Delete" id="delete"/>
        </td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
