<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NOTES</title>
  </head>
  <body>
    <table>
      {%for i in notes%}  
      <tr>
        <th>To      :</th>
        <td>{{i.to}}</td>
      </tr>
      <tr>
        <th>From    :</th>
        <td>{{i.froM}}</td>
      </tr>
      <tr>
        <th>Title   :</th>
        <td>{{i.title}}</td>
      </tr>
      <tr>
        <th>Message :</th>
        <td>{{i.message}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
